.test {
    -fx-background-color: derive(#D53B1A, 100%);
    -fx-border-color: derive(#D53B1A, 100%);
    -fx-border-top-width: 1px;
}

/* Set width to 50% for each VBox */
VBox {
    -fx-pref-width: 50%;
}